<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% @holidays.each do |holiday| %>
    <tr id='<%= "holiday-row-#{holiday.id}" %>' class="holiday-row">
      <td><%= I18n.localize(holiday.date, :format => "%d-%m-%Y") %></td>
      <td><%= holiday.description %></td>
      <td>
        <%= link_to "Edit", edit_holiday_path(holiday), :class => "btn btn-success", :remote => true  %>
        <%= link_to "Delete", holiday_path(holiday), :method => :delete, :remote => true, :confirm => "Are you sure want to dalete?", :class => "btn btn-danger" %>
      </td>
    </tr>
    <tr id='<%= "holiday-#{holiday.id}-form" %>' style="display: none;" class="holiday-form">
      <%= render :partial => "holidays/edit_form", :locals => {:holiday => holiday} %>
    </tr>
  <% end %>
</table>