<h2>Hi Admin!</h2>

<h4>Subscription Type for <%= @stype[:month] %> will be generate by the system on <%= Date.today + 2 %> automatically if not created before that time manually. The details of the Subscription type will be :</h4>

month: <%= @stype[:month] %><br/>
No of Days: <%= @stype[:no_of_days] %><br/>
Amount per day: <%= @stype[:amount_per_day] %><br/>

<h3>Incase of any modifications, please create the appropriate subscription type manually before the system generates atomatically.</h3>

<strong>P.S: The system will send notification mail to all employees in Chennai mailing list when a subscription type is generated.</strong><br/><br/>

From,<br/>
Meals Planner