<h4> Subscription Statistics</h4>
<% if @stypes.blank? %>
  <div class="well">
    <strong>
      No Subscription slots are available. Please create one subscription slot
      <%= link_to "here", subscription_types_path() %>
    </strong>
  </div>
<% else %>
  <div class="well">
    <strong>Select Subscription Slot in the select box to get the statistics.</strong>
    <div class="btn-group pull-right">
      <a class="btn dropdown-toggle btn-success stype-select-container" data-toggle="dropdown" href="#">
        <span class="caret pull-right"></span>
        <span id="stype-title">Choose Slot</span>
      </a>
      <ul class="dropdown-menu">
        <% @stypes.each do |type| %>
          <li>
            <%= link_to I18n.localize(type.month, :format => "%B-%Y"), filter_subscriptions_subscription_type_path(type), :class => "stype-list", :tabindex => "-1", :remote => true %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="stype-container">
    <% if @current_subscription_type %>
      <%= render :partial => "admins/subscription_list", :locals => {:subscription_type => @current_subscription_type} %>
    <% end %>
  </div>
<% end %>


<h4>
  Today's Transfers  (<%= I18n.localize(Date.today, :format => '%d %B %Y') %>)
</h4>
<%= render :partial => "admins/today_transfers" %>


<script type="text/javascript">
$(document).ready(function(){
  $(".stype-list").live("click", function(){
    $("#stype-title").text($(this).text());
  });
});
</script>