<div>
  <% if current_user.transfered_today_meal? %>
    <div id = "update_payment">
		<h4>You have transfered your meal for today...</h4>	
      <% if current_user.get_todays_transfer.borrower_id.present? &&current_user.get_todays_transfer.payment_status == false %>
        <b><%= current_user.get_borrower_name %></b> wants to borrow your meal for today.
        <%= form_tag update_payment_status_transfer_path(current_user.get_todays_transfer), :method => :put, :class => "form-horizontal modal-form", :remote => true do %>
          <%= submit_tag "Received Payment", :class => "btn btn-success" %> 
          <% end %>
      <% elsif current_user.get_todays_transfer.borrower_id.present? &&current_user.get_todays_transfer.payment_status == true %>
          <b> Your meal has been transfered to <%= current_user.get_borrower_name %><b>
      <% else %>
        <p> Sorry ! there are no borrowers for your meal today </p>  
      <% end %>
    </div>
	<% else %>
		<h4>Want to transfer today's meal?</h4>  
		<%= form_tag transfers_path(), :method => :post, :class => "form-horizontal modal-form", :remote => true do %>
      <%= hidden_field_tag :subscription_id, current_user.current_subscription.id %>
      <%= hidden_field_tag :lender_id, current_user.id %>
      <%= hidden_field_tag :date, Date.today %>
      <%= submit_tag "Transfer", :class => "btn btn-success" %>
      <% end %>
	<% end %>
</div>