<div class = "well">
  <% if @next_subscription #this should be @current_subscription%>
		<% if current_user.transfered_today_meal? %>
			<h4>You have transfered your meal for today...</h4>	
		<% else %>
			<h4>Want to transfer today's meal?</h4>
			<%= form_tag transfers_path(), :method => :post, :class => "form-horizontal modal-form", :remote => true do %>
        <%= hidden_field_tag :subscription_id, current_user.next_subscription.id %>
        <%= hidden_field_tag :lender_id, current_user.id %>
        <%= hidden_field_tag :date, Date.today %>
        <%= submit_tag "Transfer", :class => "btn btn-success" %>
      <% end %>
		<% end %>
  <% else %>
    <h4>Want to borrow meal for today?</h4>
    <%= link_to "Borrow", '#', :class => 'btn btn-success' %>  
  <% end %>
</div>


