<div class = "container" >
  <h4> Subscriptions   <div style = "float:right;">
    <%= link_to('View All My Subscriptions', subscriptions_path, :method => :get, :class => "btn") %>
  </div> </h4> <br/>

  <div id="subscription-container">
    <%= render :partial => "users/subscription_status" %>
  </div>
  
  <h4> Transfers 
  <div style= "float:right; margin-left:10px;">  
      <%= link_to(' View All My Transfers', transfers_path, :method => :get, :class => "btn") %>
    </div> 
    <div id = "transfer-details-button" style = "float:right;">
      <% if @current_subscription && current_user.has_paid? %> 
        <%= render :partial => "users/transfer_details" %>  
      <% end %>
    </div>
    
  </h4> 
  <br/>
  
  <div id="today_transfer" class="well" >
    <% if DailyTransfer.todays_transfer.empty? %>
      <h5>Sorry! there are no available meals today </h5>
    <% else %>
      <%= render :partial => "transfers/transfers_content" %>
    <% end %>
  </div>
</div>