<div id="login-box">
  <h1 align="center" >
    <img src="/assets/pramati.gif" style = "vertical-align: inherit;"/> 
    Meals Planner    
  </h1>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin"}) do |f| %>
      <h3>Sign in</h3>
    <%= f.text_field :login , :placeholder => "Enter your LDAP username", :class => "input-block-level" %>
    <%= f.password_field :password, :placeholder => "Enter your LDAP password", :class => "input-block-level" %>
    <%= f.submit "Sign in" ,:class => "btn btn-success" %>
    <a style="font-size:18px;" href="#" rel="tooltip" title="<%= help_text %>" data-placement="right"> Why Meals Planner?
      <!-- <i id = "help-icon" class="icon-question-sign"></i> -->
    </a>
  <% end %>
</div>