<h1 align = "center" > Welcome to the <a href="#" rel="tooltip" title = "We make it possible to get your money back if you dont take your meal (Provided someone borrows your meal)">Meals Planner </a></h1>
<h4>Sign in</h4>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>  <%= f.text_field :login , :placeholder => "Enter your LDAP username"%></div>
  <div>  <%= f.password_field :password, :placeholder => "Enter your LDAP password" %></div>
  <div > <%= f.submit "Sign in" ,:class => "btn btn-success" %></div>
<% end %>
<%= render "devise/shared/links" %>
<!-- <a href="#" rel="tooltip" title = "We make it possible to get your money back if you dont take your meal (Provided someone borrows your meal)">Why should I use this?</a>
 -->