<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Meals Subscription" %></title>
    <link rel="shortcut icon" href="/favicon.icon" />
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main" role="main">
      <div class="span7 offset4" id="signin-box">    
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div> 
  </body>
</html>